.modal{
    --vz-modal-width: 47%;
}


.container-fluid {
    margin-inline: 0;
}
@media  screen and (max-width: 500px) {
  
    button{
        font-size: 10px !important;
        i{
            font-size: 13px !important;
        }
    }
   
    
}

.card.custom-card .card-header .card-title:before {
    content: "" !important;
    position: absolute !important;
    height: 1rem !important;
    width: .2rem !important;
    inset-block-start: .15rem !important;
    inset-inline-start: -.65rem !important;
    background: linear-gradient(to bottom,rgba(0,0,0, .5)  50%, #6DB5FF  50%) !important;
    border-radius: .5rem !important;
}

