.container {
    max-width: 1250px;
    font-family: Gillory;

    .row-1 {
        // justify-content: space-between;
        align-items: center;
        height: 100px;

        @media (max-width:1024px) {
            padding-inline: 32px;
        }

        @media (max-width:768px) {
            display: none;
        }

        .col-lg-2 {

            height: 80px;
            display: flex;
            justify-content: start;

            .logo-img {

                width: 80px;
                height: 80px;
                padding: 1rem;
                border-radius: 50%;
                box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);

                img {
                    width: 100%;
                    height: 100%;

                }
            }
        }

        .col-lg-7 {
            height: 50%;

            .nav {
                text-transform: uppercase;
                height: 100%;
                gap: 3%;
                align-items: center;


                .nav-link {
                    padding: 0%;
                    color: black;
                    font-size: 0.7rem;
                    font-weight: 600;
                    white-space: nowrap;

                }

                .nav-link:hover {
                    text-decoration: underline;
                    text-underline-offset: 100%;
                    text-decoration-thickness: 2px;
                    text-decoration-color: var(--primary-color);

                }
            }

        }

        .ft-btn {
            display: flex;
            justify-content: flex-end;

            button {
                all: unset;
                font-size: .7rem;
                font-weight: 600;
                cursor: pointer;

                i {
                    font-size: 1.3rem;
                    color: var(--primary-color);
                    border-radius: 50%;
                    background-color: #002c6a27;
                    margin-inline: 5px;
                    padding: 5px 8px;

                }

                i:hover {
                    background-color: #002c6a44;
                }
            }
        }
    }

}

.row {
    @media (max-width:1024px) {
        padding-inline: 32px;
    }

}

.i-box {
    width: 50px;
    height: 50px;
    background-color: #002c6a27;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        // padding: 15px 18px;
        font-size: 1.2rem;
        color: var(--primary-color);
    }
}

.i-box:hover {
    background: #002c6a44;

}

.color-text {
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 500;
}

.color-text:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 5px;
}

.black-text {
    color: #666;
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 0;
}

.sm-text {
    font-size: .6rem;

    .color-text {
        font-weight: 500;
        font-size: .6rem;
    }
}

.last-text {
    @media (max-width:768px) {
        // width: 50%;
        // align-items: center;
        justify-content: space-between;
        margin-block: 1rem;
    }
}

.row-2 {
    .col-sm-12 {
        .d-flex {
            @media (max-width:452px) {
                margin-top: 5%;
            }
        }
    }
}