<footer class="w-100 z-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ms-auto text-center">
                <span class="text-muted"> Copyright ©
                    <span id="year">2025</span>
                    . Designed
                    <span class="fa-solid fa-heart text-danger"></span>
                    by <a href="#">
                        <span class="highlight-text">REZI24</span>
                    </a>
                    All rights
                    reserved
                </span>
            </div>
        </div>
    </div>
</footer>