<footer class="w-100 z-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ms-auto text-center">
                <div class="d-flex justify-content-center gap-2 gap-md-3 py-2 small">
                    <a href="https://rezi24.de" target="_blank" class="underline">Rezi24</a>
                    <span class="lh-1"><i class="ri-circle-fill ri-xxs"></i></span>
                    <a href="https://rezi24.de/datenschutz-app" target="_blank" class="underline">Datenschutz</a>
                    <span class="lh-1"><i class="ri-circle-fill ri-xxs"></i></span>
                    <span class="text-muted"> Copyright ©
                        <span id="year">{{currentYear}}.</span>
                        All rights
                        reserved
                    </span>
                </div>
            </div>

            <!-- <div class="col-lg-10 ms-auto text-center">
                <span class="text-muted"> Copyright ©
                    <span id="year">{{currentYear}}.</span>
                    . Designed
                    <span class="fa-solid fa-heart text-danger"></span>
                    by <a href="#">
                        <span class="highlight-text">REZI24</span>
                    </a>
                    All rights
                    reserved
                </span>
            </div> -->

        </div>
    </div>
</footer>