
// .autisumright.auth-one-bg>div{
//     top: 9.7rem;
//     p{
//         font-size: 1.4rem;
//         font-weight: 300;
//         }
// }
// .auth-one-bg>div {
//     top: 9.7rem;

//     p {
//         font-size: 1.4rem;
//         font-weight: 300;
//     }

//     @media screen and (max-width: 546px) {
//         top: 2.5rem;

//     }
// }

// .auth-one-bg>div>div>* {
//     margin: 1rem 0;
// }
// @media (max-width:768px) {
//     .autisumright.auth-one-bg{
//     display: none;
//     }   
    
// }
// @media (min-width:768px) {
//     .autisumtop.auth-one-bg{
//     display: none;
//     } 
// }

// .row>* {
//     padding: 0;
// }