<div class="row authentication mx-0">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-12 bg-white">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-7 col-lg-8 col-10 mx-auto">
                <div class="text-center">
                    <img src="./assets/images/rezi24-public.png" class="company-logo" routerLink="/"
                        alt="REZI24?">
                </div>
                <div class="mb-3">
                    <h3 class="fw-bolder fs-24">{{'app.forgot_password' | translate}}</h3>
                    <p class="mt-2">{{'app.otp_to_reset_password' | translate}}</p>
                </div>

                <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
                    <div class="mb-2">
                        <label class="form-label" for="email">{{'app.email' | translate}}<sup
                                class="text-danger">*</sup></label>
                        <input type="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && error['email'].errors}"
                            [placeholder]="'app.enter_email' | translate" formControlName="email">
                        <div class="invalid-feedback">
                            @if (submitted && error['email'].errors) {
                            @if (submitted && error['email'].errors['required']) {
                            <div>Email is required</div>
                            }
                            @if (submitted && error['email'].errors['email']) {
                            <div>Email is invalid</div>
                            }
                            }
                        </div>
                    </div>

                    <div class="mb-3 ">
                        <button type="submit"
                            class="btn mt-3 btn-dark w-100 d-flex align-items-center justify-content-center fw-medium fs-15"
                            [disabled]="loading">
                            <span *ngIf="!loading" class="d-flex align-items-center"><i
                                    class='ri-restart-line fs-18 mx-2'></i> Reset
                                Password</span>
                            <span *ngIf="loading">
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </span>
                        </button>
                    </div>
                </form>
                <hr class="border-0">
                <p class="text-center">{{'app.already_have_account' | translate}}
                    <a [routerLink]="['/']" class="text-primary fw-medium">
                        {{'app.login_here' | translate}}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 d-lg-block d-none px-0 bg-cover">
        <div class="text-center">
            <img src="./assets/images/forgot_password.svg" class="min-vh-100 w-75" alt="REZI24">
        </div>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle public-dropdown" type="button" id="dropdownMenu"
        data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex align-items-center gap-2" (click)="switchLanguage(selectedLang)">
            <img [src]="'./assets/images/flags/' + (selectedLang === 'en' ? 'us' : 'germany') + '.svg'" class="rounded"
                alt="" style="height: 1rem; width: 1rem;">
            {{ selectedLang === 'en' ? 'English' : 'German' }}
        </div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" role="button" style="min-width: auto !important;">
        <a class="dropdown-item" (click)="switchLanguage('de')">
            <div class="d-flex align-items-center gap-2">
                <img src="./assets/images/flags/germany.svg" class="rounded" alt="" style="height: 1rem; width: 1rem;">
                Deutsch
            </div>
        </a>
        <a class="dropdown-item" (click)="switchLanguage('en')">
            <div class="d-flex align-items-center gap-2">
                <img src="./assets/images/flags/us.svg" class="rounded" alt="" style="height: 1rem; width: 1rem;">
                English
            </div>
        </a>
    </div>
</div>