<div class="container-fluid  " style="margin-top: 15px;margin-bottom: 100px; width: 98% !important;">

    <div class=" my-4 page-header-breadcrumb">
        <h5 class="page-title fw-semibold text-center fs-18 mb-0">How can we help you</h5>

    </div>
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                <div class="flex-grow-1">
                    <div class="d-flex  align-items-center m-1" role="search"> <input class="form-control" type="search"
                            placeholder="Search" aria-label="Search"> </div>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border cursor-pointer" [routerLink]="['/stepper']">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14" > <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i>Make an appointment
                    </div>

                </div>



            </div>
        </div>

        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border cursor-pointer" [routerLink]="['/stepper']">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14"> <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i> Request a report
                    </div>

                </div>



            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border cursor-pointer" [routerLink]="['/stepper']">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14"> <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i> Request a
                        prescription </div>

                </div>



            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14"> <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i> Request sick note
                    </div>

                </div>



            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14"> <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i> Download </div>

                </div>



            </div>
        </div>

        <div class=" col-lg-3 col-md-6 col-12">

            <div class="card custom-card border">
                <div class="card-header pb-3 px-1">

                    <div class="  ms-2 fw-bold d-flex justify-content-between align-items-center fs-14"> <i
                            class="ri-calendar-2-line rounded-pill p-2 me-2 fs-18 bg-success-subtle"></i> Forms </div>

                </div>



            </div>
        </div>

    </div>
 
</div>



<div class="container-fluid " style="padding-top: 1px;"> <!-- Start::app-content -->
    <div class="main-chart-wrapper  " >
        <div class="main-chat-area border-0 min-vh-100" >
            <div class="d-flex align-items-center p-2 px-4 border-bottom">
                <div class="flex-fill">
                    <p class="mb-0 fw-semibold fs-14"> <a href="javascript:void(0);"
                            class="chatnameperson responsive-userinfo-open" >Emiley Jackson</a> </p>
                </div>
                <div class="d-flex flex-wrap rightIcons">
                   
                    <div class="dropdown ms-2"> 

                    </div> <button aria-label="button" type="button" [routerLink]="['/services']"
                        class="btn btn-icon btn-outline-light my-1 ms-2 responsive-chat-close"> <i
                            class="ri-close-line"></i> </button>
                </div>
            </div>
            <div class="chat-content border-0" id="main-chat-content"  data-simplebar="init">
                <div class="simplebar-wrapper" style="margin: -40px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 10px;">
                                    <ul class="list-unstyled">

                                        <li
                                            class="btn btn-icon btn-secondary-light btn-wave waves-light waves-effect waves-light justify-content-center px-5 mx-auto d-flex justify-content-center">
                                            <span>Today</span>
                                        </li>
                                        <li class="chat-item-start">
                                            <div class="chat-list-inner">
                                                <div class="ms-3"> <span class="chatting-user-info"> <span
                                                            class="chatnameperson">Emiley Jackson</span> <span
                                                            class="msg-sent-time">11:48PM</span> </span>
                                                    <div class="main-chat-msg">
                                                        <div>
                                                            <p class="mb-0">Nice to meet you 😀</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chat-item-end">
                                            <div class="chat-list-inner">
                                                <div class="me-3"> <span class="chatting-user-info"> <span
                                                            class="msg-sent-time"><span
                                                                class="chat-read-mark align-middle d-inline-flex"><i
                                                                    class="ri-check-double-line"></i></span>11:50PM</span>
                                                        You </span>
                                                    <div class="main-chat-msg">
                                                        <div>
                                                            <p class="mb-0">It is a long established fact that a reader
                                                                will be distracted by the readable content of a page
                                                                when looking at its layout</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chat-item-start">
                                            <div class="chat-list-inner">
                                                <div class="ms-3"> <span class="chatting-user-info"> <span
                                                            class="chatnameperson">Emiley Jackson</span> <span
                                                            class="msg-sent-time">11:51PM</span> </span>
                                                    <div class="main-chat-msg">
                                                        <div>
                                                            <p class="mb-0">Who are you ?</p>
                                                        </div>
                                                        <div>
                                                            <p class="mb-0">I don't know anyone named jeremiah.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chat-item-end">
                                            <div class="chat-list-inner">
                                                <div class="me-3"> <span class="chatting-user-info"> <span
                                                            class="msg-sent-time"><span
                                                                class="chat-read-mark align-middle d-inline-flex"><i
                                                                    class="ri-check-double-line"></i></span>11:52PM</span>
                                                        You </span>
                                                    <div class="main-chat-msg">
                                                        <div>
                                                            <p class="mb-0">Some of the recent images taken are nice 👌
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="chat-item-start">
                                            <div class="chat-list-inner">
                                                <div class="ms-3"> <span class="chatting-user-info chatnameperson">
                                                        Emiley Jackson <span class="msg-sent-time">11:45PM</span>
                                                    </span>
                                                    <div class="main-chat-msg">
                                                        <div>
                                                            <p class="mb-0">Happy to talk with you,chat you later 👋</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 924px;">

                    </div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                    <div class="simplebar-scrollbar"
                        style="height: 25px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
            </div>
            <div class="chat-footer"> <input class="form-control" placeholder="Type your message here..." type="text">
                <a aria-label="anchor" class="btn btn-primary btn-icon btn-send mx-2" href="javascript:void(0)"> <i
                        class="ri-send-plane-2-line"></i> </a>
            </div>


        </div>
        

    </div> <!-- End::app-content -->

</div>