<div class="container-fluid" style="margin-top: 77px;margin-bottom: 100px;"> <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">{{'app.treatments' | translate}}</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">{{'app.dashboard' | translate}} <i
                                class='ri-arrow-right-double-line'></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{'app.treatments' | translate}}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between gap-2">
                        <div class="flex-grow-1">
                            <input class="form-control" type="search" [placeholder]="'app.search' | translate"
                                aria-label="Search">
                            <!-- [(ngModel)]="search" (input)="resetsearch()" -->
                        </div>
                        <button type="button" class="btn btn-dark d-none d-md-flex align-items-center gap-2"
                            data-bs-toggle="modal" data-bs-target="#addTreatment">
                            <i class="ri-add-line"></i>
                            {{'app.add' | translate}} {{'app.treatment' | translate}}</button>
                        <button type="button" class="btn btn-dark d-block d-md-none" data-bs-toggle="modal"
                            data-bs-target="#addTreatment">
                            <i class="ri-add-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if(getLoader){
        @for (loader of skeleton_arr; track $index) {
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-12">
            <div class="card">
                <div class="card-header align-items-center d-flex border-0">
                    <div class="skeleton-card">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="card-body p-0">
                    <!-- <ul class="list-group list-group-flush border-dashed">
                                <li class="list-group-item pb-3">
                                    <div class="skeleton-card">Test</div>
                                    <br>
                                    <div class="skeleton-card">Test</div>
                                </li>
                            </ul> -->
                </div>
            </div>
        </div>
        }
        }@else {
        @for (treatment of treatments_arr; let i = $index; track treatment) {
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-12">
            <div class="card">
                <div class="card-header align-items-center d-flex border-0">
                    <h4 class="card-title mb-0 flex-grow-1">{{treatment?.name | titlecase}}</h4>
                    <div class="flex-shrink-0">
                        <div class="dropdown card-header-dropdown">
                            <a class="text-reset dropdown-btn" href="javascript:void(0);" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="fs-18"><i class="ri-more-2-fill"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item d-flex align-items-center gap-2" role="button"
                                    data-bs-toggle="modal" data-bs-target="#editTreatment" (click)="editTreatment(i)"><i
                                        class="ri-edit-line text-secondary"></i>{{'app.edit'
                                    | translate}}</a>
                                <a class="dropdown-item d-flex align-items-center gap-2" role="button"
                                    (click)="deleteTreatment(treatment?._id)"><i
                                        class="ri-delete-bin-line text-danger"></i>{{'app.delete' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <!-- <ul class="list-group list-group-flush border-dashed">
                                <li class="list-group-item pb-3">
                                    <p class=" d-flex align-items-center gap-2">
                                        <i class="ri-mail-fill fs-16"></i>
                                        {{item?.primary_email}}
                                    </p>
                                    <p class="mb-0 d-flex align-items-center gap-2">
                                        <i class="ri-map-pin-fill fs-16"></i>
                                        {{treatment?.location_data?.location_name | titlecase}}
                                    </p>
                                </li>
                            </ul> -->
                </div>
            </div>
        </div>
        }@empty {
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="text-danger">{{'app.no' | translate}} {{'app.treatments' | translate}} {{'app.found' |
                        translate}}</div>
                </div>
            </div>
        </div>
        }
        }
        @if (loadmore) {
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-dark d-flex align-items-center gap-2" (click)="getTreatments()">
                <i class="ri-add-line"></i>
                <span>{{'app.load_more' | translate}}</span>
            </button>
        </div>
        }
    </div>

</div>


<!-- Add Treatment Modal -->
<div id="addTreatment" class="modal fade" tabindex="-1" aria-labelledby="addTreatmentLabel" aria-hidden="true"
    style="display: none;" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTreatmentLabel">{{'app.new' | translate}} {{'app.treatment' | translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closeAddModal aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addTreatmentForm" class="row" (ngSubmit)="saveTreatment()">
                    <div class="col-md-6 col-12 mb-3">
                        <label for="name" class="form-label">{{'app.name' | translate}}<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="duration" class="form-label">{{'app.duration' | translate}}<sup class="text-danger">*</sup></label>
                        <input type="number" min="0" class="form-control" formControlName="duration">
                    </div>

                    <div class="col-12 modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{'app.close' |
                            translate}}</button>
                        <button type="submit" class="btn btn-dark d-flex align-items-center justify-content-center"
                            [disabled]="submitted || addTreatmentForm.invalid">
                            <span *ngIf="!loading" class="d-flex align-items-center">
                                <i class='ri-save-3-line me-2'></i>{{'app.save' | translate}}</span>
                            <span *ngIf="loading">
                                <div class="spinner-border spinner-border-sm text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Treatment Modal -->
<div id="editTreatment" class="modal fade" tabindex="-1" aria-labelledby="editTreatmentLabel" aria-hidden="true"
    style="display: none;" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTreatmentLabel">{{'app.edit' | translate}} {{'app.treatment' | translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closeEditModal aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editTreatmentForm" class="row" (ngSubmit)="updateTreatment()">
                    <div class="col-md-6 col-12 mb-3">
                        <label for="name" class="form-label">{{'app.name' | translate}}<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="duration" class="form-label">{{'app.duration' | translate}}<sup class="text-danger">*</sup></label>
                        <input type="number" min="0" class="form-control" formControlName="duration">
                    </div>
                    <div class="col-12 modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{'app.close' |
                            translate}}</button>
                        <button type="submit" class="btn btn-dark d-flex align-items-center justify-content-center"
                            [disabled]="submitted || editTreatmentForm.invalid">
                            <span *ngIf="!loading" class="d-flex align-items-center">
                                <i class='ri-save-3-line me-2'></i>{{'app.update' | translate}}</span>
                            <span *ngIf="loading">
                                <div class="spinner-border spinner-border-sm text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </span>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>