/* website logo */
.company-logo {
  width: 10rem;
  height: auto;
  cursor: pointer;
}

.public-dropdown {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.bg-cover {
  background-color: #e5e5e5;
}

/* image uploader */
.dropzone {
  width: 100%;
  height: 225px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}
.drop-input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.drop-img {
  height: 50px;
}

/* card for toggles */
.custom-card {
  background-color: #f3f3f9 !important;
}

/* skeleton loader for tables*/
.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to right, #eee, #e8e8e8, #f2f2f2);
  background-size: 200%;
  animation: skeleton 1s infinite linear;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* skeleton loader for cards */
.skeleton-card {
  position: relative;
}

.skeleton-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to right, #f4f4f4, #e0e0e0, #f4f4f4);
  background-size: 200%;
  animation: skeleton-card 1s infinite linear;
}

/*junction type rating */
.star-rating {
  width: 0;
  position: relative;
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDguOSIgaGVpZ2h0PSIxMDMuNiIgdmlld0JveD0iMCAwIDEwOC45IDEwMy42Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UzZTZlNjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnN0YXJfMDwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTA4LjkgMzkuNiA3MS4zIDM0LjEgNTQuNCAwIDM3LjYgMzQuMSAwIDM5LjYgMjcuMiA2Ni4xIDIwLjggMTAzLjYgNTQuNCA4NS45IDg4LjEgMTAzLjYgODEuNyA2Ni4xIDEwOC45IDM5LjYiLz48L2c+PC9nPjwvc3ZnPg0K);
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
}

.star-rating .star-value {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(data:image/svg+xml;base64,PHN2Zw0KCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwOC45IiBoZWlnaHQ9IjEwMy42IiB2aWV3Qm94PSIwIDAgMTA4LjkgMTAzLjYiPg0KCTxkZWZzPg0KCQk8c3R5bGU+LmNscy0xe2ZpbGw6I2YxYzk0Nzt9PC9zdHlsZT4NCgk8L2RlZnM+DQoJPHRpdGxlPnN0YXIxPC90aXRsZT4NCgk8ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj4NCgkJPGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj4NCgkJCTxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSI1NC40IDAgNzEuMyAzNC4xIDEwOC45IDM5LjYgODEuNyA2Ni4xIDg4LjEgMTAzLjYgNTQuNCA4NS45IDIwLjggMTAzLjYgMjcuMiA2Ni4xIDAgMzkuNiAzNy42IDM0LjEgNTQuNCAwIi8+DQoJCTwvZz4NCgk8L2c+DQo8L3N2Zz4NCg==);
  background-repeat: repeat-x;
}

/* insurance badges */
.bg-light-green {
  background-color: rgba(111, 234, 82, 1);
}
.bg-light-red {
  background-color: rgba(255, 102, 102, 1);
}

/* news text truncation */
.text-length {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* card of same height regardless of text */
.sameheight {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes skeleton-card {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}
