// a {
//     color: var(--primary-color);
// }

// .row>* {
//      padding: 0;
// }

// a:hover {
//     text-decoration-line: underline;
//     text-decoration-color: var(--primary-color);
// }

// .auth-one-bg>div {
//     top: 9.7rem;

//     p {
//         font-size: 1.4rem;
//         font-weight: 300;
//     }

//     @media screen and (max-width: 546px) {
//         top: 2.5rem;

//     }
// }
// imglogo{
//     width: 150px !important;
//     height: 150px !important;
   
// }

// .auth-one-bg>div>div>* {
//     margin: 1rem 0;
// }

// .w80 {
//     width: 80% !important;

//     @media screen and (max-width: 546px) {
//         width: 100%;
//     }
// }