// .service {
//     background-color: transparent;
//     border: none;
//     box-shadow: none;
// }
// .row>* {
//     padding: 0;
// }

// a:hover {
//     text-decoration-line: underline;
//     text-decoration-color: var(--primary-color);
// }

// .auth-one-bg>div {
//     top: 11rem;

//     p {
//         font-size: 1.7rem;
//         font-weight: 300;
//     }

//     @media screen and (max-width: 546px) {
//         top: 2.5rem;

//     }
// }

// .auth-one-bg>div>div>* {
//     margin: 1rem 0;
// }

// .autisumtop.auth-one-bg>div {
//     h1 {
//         font-size: 1.3rem;
//     }

//     p {
//         font-size: 1rem;
//         font-weight: 300;
//     }
// }

// .modal {
//     --vz-modal-width: 700px;

//     h1 {
//         font-size: 20px !important;
//         font-weight: 500 !important;
//     }

//     p {
//         font-size: 14px !important;
//         line-height: 21px !important;
//         font-weight: 400 !important;
//     }

// }

// @media (max-width:768px) {
//     .autisumright.auth-one-bg {
//         display: none;
//     }

// }
// imglogo{
//     width: 170px !important;
//     height: 150px !important;

// }

// @media (min-width:768px) {
//     .autisumtop.auth-one-bg {
//         display: none;
//     }

// }
