.card {
    background-color: transparent !important;
    border-radius: 0 !important;
}
.card-shadow{
    box-shadow: 0 4px 8px 0 #cfcfcf !important;
}
@media screen and (min-width: 1300px) {
    .nav {
        width: 25%;
        margin-right: 14px;
    }
    .tab-content {
        width: 73.6% !important;
    }
}

.nav-link,
h6,
p {
    color: var(--main-black);
}
.nav-link,
h6 {
    font-weight: 600;
}
.nav-link {
    font-size: 14px;
    padding: 1.5rem 1rem;
    width: 100%;
    text-align: left;
}

.profile-img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.nav-pills .nav-link.active {
    box-shadow: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 6px;
}

.image-icon {
    position: absolute;
    top: 50%;
    left: 55%;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
}
.tab-content .tab-pane {
    border: 0 !important;
}
h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    span {
        font-weight: 700;
    }
}
.profile-head {
    h5 {
        font-weight: 700;
        font-size: 15px;
        line-height: 23px;
        position: relative;
    }

    h5:before {
        content: "";
        position: absolute;
        height: 1rem;
        width: 0.2rem;
        inset-block-start: 0.15rem;
        inset-inline-start: -0.65rem;
        background: var(--blue-dark);
        border-radius: 0.5rem;
    }
}
.profile-form {
    border-top: 1px solid var(--gray-color);
    label {
        font-weight: 600;
        font-size: 13px;
    }
    input:focus,
    select:focus,
    textarea:focus {
        color: var(--main-black);
        outline: 1px solid var(--secondary-color) !important;
    }
    button {
        border-radius: 0.5rem;
    }
}

.blog-footer {
    border-top: 1px solid var(--gray-color);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.bgwarning {
    background-color: rgba(var(--warning-rgb), 0.1);
    width: 98%;
}

input[type="file"] {
    display: none;
}

.alert-dismissible .btn-close::after {
    content: "\eb99" !important;
    font-family: "remixicon" !important;
}

.selected-image {
    border: 2px solid #000000;
}

@media (min-width: 1400px) {
    .image-icon {
        left: 64%;
    }
}
