.nav-tabs{
    --vz-nav-tabs-border-width: none !important;
}

.tab-content .tab-pane {
    border: none !important;
}



.btn-success{
    background-color: #6DB5FF !important;
    border-color: #6DB5FF !important;
    color: #FFFFFF !important;
    a{
        color: #FFFFFF !important;
    }
}