.avatar-xl {
    height: 13.5rem;
    width: 13.5rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .avatar-xl {
        height: 12.5rem;
        width: 12.5rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .avatar-xl {
        height: 11.5rem;
        width: 11.5rem;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .avatar-xl {
        height: 10.5rem;
        width: 10.5rem;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .avatar-xl {
        height: 8.5rem;
        width: 8.5rem;
    }
}
