.progress-wizard {
    padding: 8px 0px 20px;

    .progress-line {
        position: absolute;
        top: 0.75rem;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #8c9097;
        z-index: 1;
    }

    .progress-active-line {
        position: absolute;
        top: 0.75rem;
        left: 0;
        height: 2px;
        background-color: #000;
        z-index: 2;
        transition: width 0.4s ease;
    }

    .step-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        position: relative;
    }

    .circle {
        border: 2px solid #c6c6c6;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        position: relative;
        z-index: 2;

        &.previous {
            border: 2px solid #000;
            background-color: #000;
            color: #fff;
        }

        &.current {
            border: 2px solid #000;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0.65rem;
                height: 0.65rem;
                border-radius: 50%;
                background-color: rgba(0, 123, 255, 0.4);
                transform: translate(-50%, -50%) scale(1);
                opacity: 0.8;
                animation: ripple 1.5s infinite;
                z-index: 0;
            }
        }
    }

    @keyframes ripple {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.8;
        }

        100% {
            transform: translate(-50%, -50%) scale(2.5);
            opacity: 0;
        }
    }
}

.card-checkbox {
    position: relative;
    cursor: pointer;
}

.card-checkbox .card {
    padding: 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.selected {
    border: 2px solid black;
}

.icon-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

input:focus {
    border: 0 !important;
}

// slider
.slider-wrapper {
    position: relative;
    width: 100%;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
}


// smiley preview
.smiley-rating {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.smiley-rating span {
    transition: transform 0.2s;
}

.smiley-rating span:hover {
    transform: scale(1.2);
}

.smiley-rating .chosen {
    border-bottom: 2px solid black;
}

.smiley-rating span:not(.chosen) {
    filter: grayscale(0);

    // filter: grayscale(80%);
}

a:hover {
    text-decoration: underline;
}

@media screen and (min-width:992px) {
    .progress-wizard {
        padding: 8px 0px 20px;

        .progress-line {
            position: absolute;
            top: 1.25rem;
        }

        .progress-active-line {
            position: absolute;
            top: 1.25rem;
        }

        .circle {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}